/* You can add global styles to this file, and also import other style files */
/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
     */
*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  // background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
